<nav class="navbar navbar-inverse">
  <div class="container-fluid">


  	<!-- Logo CVTIC en tant que "header" du menu -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../../public/img/cvtic.png" alt="logo-cvtic" class="img-thumbnail"></a>
    </div>


    <!-- Début du menu de navigation -->
    <ul class="nav navbar-nav">

    	<!-- Titre de la page -->
      <li class="active">
      	<a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
      </li>

      <!-- Sous-menu "Articles" -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('article_index') }}">Listes des articles</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <!-- Sous-menu "Catégories" -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('category_index') }}">Liste des catégories</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <!-- Lien vers l'espace admin -->
      <li><a href="{{ path('admin_index') }}">Espace Admin</a></li>
    </ul>


    <!-- Côté droit de la navbar -->

    <ul class="nav navbar-nav navbar-right">
    	<!-- Bouton pour se connecter (et également s'inscrire) -->
      <li>
      	<a href="{{ path('security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a>
      </li>
    </ul>

    <!-- Barre de recherche -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>